<section class="invoice-container">
  <!-- Stepper Header Component -->
  <app-invoice-stepper />

  <!-- Step 1: Client Info Component -->
  @if (currentStep() === Step.ClientInfo) {
    <app-step-client />
  }

  <!-- Step 2: Items & Visuals Component -->
  @if (currentStep() === Step.Items) {
    <app-step-items />
  }

  <!-- Step 3: Details Component -->
  @if (currentStep() === Step.Details) {
    <app-step-details />
  }

  <!-- Step 4: Summary Component -->
  @if (currentStep() === Step.Summary) {
    <app-step-summary />
  }
</section>